:root {
	/* Font families  */
	--ff-primary: "Montserrat", sans-serif;
	--ff-secondary: "Playfair Display", sans-serif;

	/* Colors  */
	--color-primary: #333333;
	--color-secondary: #bdbdbd;
	--color-heading: #000000;
	--color-description: #4f4f4f;
	--color-highlight: #f2994a;
	--color-attribution: #a9a9a9;
	--color-background: #fafafa;
	--color-white: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	/* Set font size to 10px for easier conversion to rem and em values  */
	font-size: 62.5%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

body,
a,
li,
ul,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

body {
	font-family: var(--ff-primary);
	color: var(--color-primary);
	position: relative;
	height: auto;
	background-color: var(--color-background);
	position: relative;
	padding-bottom: 13em;
}

.container {
	width: 92%;
	max-width: 969px;
	margin: 0 auto;
	padding: 3.5em 0;
}

header {
	margin-bottom: 1.5em;
}

h1 {
	font-family: var(--ff-secondary);
	color: var(--color-heading);
	font-size: 2.4rem;
	margin-bottom: 0.5em;
}

.description {
	font-weight: 500;
	font-size: 1.2rem;
	font-style: italic;
	width: 90%;
	margin: 0 auto;
	line-height: 1.4;
	color: var(--color-description);
}

.statistics {
	margin-top: 2.4em;
	margin-bottom: 4em;
}

.statistics--second-row {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

.stats {
	display: flex;
	align-items: center;
}

.material-icons {
	font-size: 20px;
	margin-right: 0.2em;
}

.material-icons--highlight {
	color: var(--color-highlight);
}

.stats__title {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.2em;
	color: var(--color-secondary);
}

.stats__value {
	font-weight: 1.2rem;
	font-weight: 500;
}

.stats__value--highlight {
	color: var(--color-highlight);
}

h2 {
	font-family: var(--ff-secondary);
	font-size: 1.8rem;
	margin-bottom: 1em;
}

h3 {
	font-family: var(--ff-secondary);
	font-size: 1.6rem;
	font-style: italic;
	font-weight: 400;
	margin: 1.5em 0;
}

.ingredients-container {
	margin-bottom: 5em;
}

.ingredients {
	margin-bottom: 1em;
	font-size: 1.4rem;
	display: flex;
}

.input {
	margin-right: 0.8em;
	cursor: pointer;
}

.input-label {
	line-height: 1.5;
}

.italic {
	font-style: italic;
	font-weight: 500;
}

.instructions-list__items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 2.5rem;
}

.instructions__text {
	width: 85%;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
}

.number {
	font-size: 1.6rem;
	width: 36px;
	height: 36px;
	background: var(--color-highlight);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	font-weight: 700;
}

.source {
	font-size: 1.2rem;
	font-style: italic;
	color: var(--color-secondary);
	padding-top: 5em;
}

.source-link {
	display: block;
}

.source-link,
.source-link:focus,
.source-link:active,
.source-link:visited {
	color: var(--color-secondary);
}

footer {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.attribution {
	font-weight: 600;
	font-size: 1.4rem;
	color: var(--color-attribution);
}

.attribution-link,
.attribution-link:focus,
.attribution-link:active,
.attribution-link:visited {
	text-decoration: none;
	color: var(--color-attribution);
}

@media (min-width: 1366px) {
	header {
		margin-bottom: 3em;
	}

	.container--main {
		display: flex;
		justify-content: space-between;
		margin-top: 4.8em;
	}

	.container-content--aside {
		order: 2;
		position: relative;
		width: 30%;
	}

	.container-content--primary {
		width: 55%;
	}

	.statistics--second-row {
		display: block;
		margin: 0;
	}

	.statistics {
		background: #ffffff;
		width: 216px;
		padding: 5em 4em;
		margin: 0;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.stats {
		margin-bottom: 4.5em;
	}

	.stats:last-of-type {
		margin-bottom: 0;
	}

	.material-icons {
		margin-right: 0.5em;
	}
}

@media (min-width: 1440px) {
	h1 {
		font-size: 4.8rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	.input-label {
		font-size: 1.6rem;
	}

	.instructions__text {
		font-size: 1.6rem;
	}

	.description {
		font-size: 1.4rem;
	}

	.source,
	.source-link {
		font-size: 1.6rem;
	}

	.stats__value {
		font-size: 1.2rem;
	}
}
